// Header setup
$heightHeader: 75px;
$heightHeaderMobile: 60px;

/*
 * Colors
 * ****** */

// Primary
$colorPrimary: #FEC82E;
$colorPrimaryHover: darken($colorPrimary, 10%);

// Black
$colorSecondary: #222;
$colorSecondaryHover: darken($colorSecondary, 10%);

// White
$colorWhiteV1: #fff;
$colorWhiteHoverV1: darken($colorWhiteV1, 10%);

// Grey
$colorGreyV1: #8B828F;