.btn {
  display: block;
  border: 2px solid transparent;
  padding: 13px 32px;
  min-width: 120px;
  border-radius: 8px;
  transition: background-color .35s ease-in-out, color .35s ease-in-out;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none !important;
  cursor: pointer;
  @screen md {
    display: inline-block;
  }
  @screen lg {
    padding: 16px 40px;
    min-width: 150px;
  }

  &.btn-primary {
    background-color: $colorPrimary;
    color: $colorSecondary;

    &:hover {
      background-color: $colorPrimaryHover;
    }
  }

  &.btn-secondary {
    background-color: $colorSecondary;
    color: $colorWhiteV1;

    &:hover {
      background-color: $colorSecondaryHover;
    }
  }

  &.btn-default {
    background-color: $colorWhiteV1;
    color: $colorSecondary;

    &:hover {
      background-color: $colorSecondaryHover;
    }
  }

  &.btn-primary-outline {
    background-color: transparent;
    border-color: $colorPrimary;
    color: $colorPrimary;

    &:hover {
      border-color: $colorPrimaryHover;
      color: $colorPrimaryHover;
    }
  }

  &.btn-secondary-outline {
    background-color: transparent;
    border-color: $colorSecondary;
    color: $colorSecondary;

    &:hover {
      border-color: $colorSecondaryHover;
      color: $colorSecondaryHover;
    }
  }

  &.btn-default-outline {
    background-color: transparent;
    border-color: $colorWhiteV1;
    color: $colorWhiteV1;

    &:hover {
      border-color: $colorWhiteV1;
      background-color: $colorWhiteV1;
      color: $colorSecondaryHover;
    }
  }
}