.hero {
  .content {
    padding: 40px 65px;
    h2.title {
      font-size: 38px;

    }
    p.subtitle {
      font-size: 18px;
      font-weight: 300;
    }
  }
  .btn {
    margin-top: 40px;
  }
}