.hero {
  .content {
    padding: 2rem 0;
    @screen lg {
      padding: 2.5rem 4rem;
    }
    p.subtitle {
      font-size: 1.3rem;
      line-height: 1.75;
      font-weight: 300;
      color: #dedede;
      @screen md {
        font-size: 1.3rem;
        line-height: 1.75rem;
      }

      strong {
        font-weight: 500;
      }
    }
  }
  .btn {
    margin-top: 2rem;
    @screen lg {
      margin-top: 2.5rem;
    }
    & + .btn {
      margin-top: 1rem;
    }
  }
}