.type-index {
  header {
    position: absolute;
    width: 100%;
    background-color: transparent;
  }
  main {
    min-height: calc(100vh - 112px);

    .hero {
      padding-top: 96px;
      min-height: 650px;

      .content {
        @apply container;
        padding: 40px 64px;
      }
    }
  }
}