// File: _header.scss
// This file contains all styles related to the header of the site/application.

header {
  min-height: 64px;
  background-color: $colorSecondary;
  color: $colorWhiteV1;
  @screen md {
    padding: 0 16px;
  }
  @screen xl {
    min-height: 96px;
  }

  .inner-header {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 96px;

    .logo-wrapper {
      a {
        @apply text-white;
        text-decoration: none;
      }
      .logo {
        max-height: 48px;
        width: auto;
    
        @screen xl {
          max-height: 64px;
        }
  
        & + span {
          @apply text-white;
          text-decoration: none;
          font-family: $headingFont;
        }
      }
    }
  }

  nav {
    ul {
      list-style-type: none;
      display: flex;
      align-items: center;
      
      li {
        @screen xl {
          margin: 0 16px;
        }
        
        a {
          padding: 8px;
          color: $colorWhiteV1;
          text-decoration: none;

          &.active {
            text-decoration: underline;
          }

          &.btn {
            margin-left: 16px;
          }
        }
      }
    }
  }
}
