main {
  min-height: calc(100vh - 112px - 96px);
  overflow: hidden;

  .centered-content & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .reset-header-xs & {
    @media (max-width: 768px){
      margin-top: -96px;
    }
  }
}

.inner-content {
  max-width: 1320px;
  width: 100%;
  padding: 40px 16px;
  margin: 0 auto;

  @screen xl {
    padding-left: 0;
    padding-right: 0;
  }
}